.container {
    /*padding: 8px;*/
    position: relative;
}

.selected {

}

.selectedIcon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    /*color: var(--white);*/
    /*background-color: var(--black);*/
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-dark-8);
    display: grid;
    place-items: center
}
