.nav {
    width: 100%;
    padding: 1rem;
}

.innerNav {
    /*max-width: 1400px;*/
    margin: 0 auto;
    padding: 12px 24px;
    border: 2px solid var(--mantine-color-dark-8);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}
