.root {
    &[data-variant="outline"] {
        border: 2px solid var(--mantine-color-dark-8);
        color: var(--mantine-color-dark-8);
        transition: all 120ms ease-in-out;

        &:hover {
            background-color: transparent;
            transform: translate(-3px, -3px);
            box-shadow: 3px 3px 0 var(--mantine-color-dark-8);
        }

        &:active {
            transform: translate(0, 0);
            box-shadow: none;
        }
    }

    &[data-variant="link"] {
        border: none;
        color: var(--mantine-color-text);
        background-color: transparent;
        text-decoration: underline;

        &:active {
            transform: none;
        }
    }
}
