.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.selectedContainer {
    min-height: 290px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--mantine-color-gray-1);
    /*border: 1px solid var(--mantine-color-gray-7);*/
}
